<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
from IPython.display import Image

## Nested Blocks

### nested for loops
    
### formatted print

In [30]:
# pay attention of  order of execution
# start execute from outer > inner
# finish inner loop first
for i in range(1,3):
    print(f"i={i}")
    for j in range(1,4):
        print(f"\tj={j}", end=" ")
    print("\n")

i=1
	j=1 	j=2 	j=3

i=2
	j=1 	j=2 	j=3

In [26]:
# format print a 9*9 multipication table
# f""
# put {i} inside the "" so that the value will be replaced
# use end=" ", end="\t" to separate each prints, default is end="\n"
for i in range(1, 10):
    for j in range(1, i+1):
        print(f"{i}*{j}={i*j}", end=" ")
    print("\n")

1*1=1

2*1=2 2*2=4

3*1=3 3*2=6 3*3=9

4*1=4 4*2=8 4*3=12 4*4=16

5*1=5 5*2=10 5*3=15 5*4=20 5*5=25

6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36

7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49

8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

### nested if/else

In [31]:
a = int(input())
b = int(input())
c = int(input())
if a < b:
    if b < c:
        print("a < b < c")
    else:
        print("a < b > c")
else:
    print("a > b")

3
6
4
a < b > c

## String
### define a str

* string can be enclosed by '' or  ""
* interleaving ' and "
* escape with \
* multiline string - quote with ''' or """

In [32]:
'abc'

'abc'

In [33]:
"abc" == 'abc'

True

In [35]:
# the following is wrong,
# 'Hi, it's me'

In [39]:
'Hi, it\'s me'  # ' is escaped by \, it is ok, but not recommended.

"Hi, it's me"

In [36]:
"hi, it's me"

"hi, it's me"

In [37]:
'something" blah blah'

'something" blah blah'

In [8]:
""" this is a very long long long line
continue at the 2nd line
and another """

' this is a very long long long line\ncontinue at the 2nd line\nand another '

In [40]:
'''sdlfkjdskl

sdklfjjldks
'''

'sdlfkjdskl\n\nsdklfjjldks\n'

### String Operators

    + : concatenate
    * : repeat .. times
    in : check membership

In [41]:
'Harry' + 'Potter'  # use  +

'HarryPotter'

In [43]:
'Harry'    'Potter'  # use ' '  , alternative way

'HarryPotter'

In [44]:
"="*10

'=========='

In [45]:
"b" in "abc"  # b is a sub string of abc

True

In [46]:
"d" in "abc"

False

### string indexing and slicing


    index: 0 based, 0,1,2...
    slicing: :

In [47]:
s = "Python"  # string is a series of chars put in consecutive boxes.
s

'Python'

                         +---+---+---+---+---+---+
                         | P | y | t | h | o | n |
                         +---+---+---+---+---+---+
                -2  -1     0   1   2   3   4   5   6
                          -6  -5  -4  -3  -2  -1

In [48]:
s[0]

'P'

In [49]:
s[3]

'h'

In [52]:
# s[6]  !!!!!!

In [53]:
s[-1]

'n'

In [54]:
s[-3]

'h'

In [58]:
s[0:3]  # range 0 3, excluding 3

'Pyt'

In [59]:
s[:3]

'Pyt'

In [61]:
s[3:6]

'hon'

In [60]:
s[3:]

'hon'

In [62]:
s[:]

'Python'

In [63]:
s[0::2]  # this is like range(start, stop, step)

'Pto'

In [68]:
s[::-1]  # reverse the string.

'nohtyP'

In [34]:
s[:-2] # all chars less 2

'Pyth'

In [41]:
help(s.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [47]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [43]:
s

'Python'

In [42]:
s.count('P')

1

In [44]:
'aaabb'.count('a')

3

In [45]:
'aaabb'.count('b')

2

In [46]:
'aaabb'.count('c')

0

### built-in string methods
    len: return the length of the string
    str: convert to str
    upper
    lower
    find
    replace
    strip
    split
    join

In [69]:
len("Python")

6

In [70]:
str(345)

'345'

In [72]:
'Python'.upper()

'PYTHON'

In [71]:
'a'.upper()

'A'

In [73]:
'MAC'.lower()

'mac'

In [74]:
"Python is cool".find("cool") # return -1 if not find

10

In [76]:
"Python is boring".replace('boring', 'interesting')

'Python is interesting'

In [81]:
text = "  hello world\t\n"

In [80]:
text.strip()  # strip white spaces including \n, space, \t at both ends

'hello world'

In [83]:
l = "hello world tom".split()
l

['hello', 'world', 'tom']

In [87]:
"hello, world, tom".split(', ')

['hello', 'world', 'tom']

In [85]:
"-".join(l)

'hello-world-tom'

### string comparison


    string compare in dictionary order
    a
    aa
    aab
    ab
    abc
    c

In [89]:
"a" < "abc"

True

In [90]:
"ab" > "aab"

True

## Math fun


    input a number,
    if it's even, divide by 2
    if it's odd, multiple by 3 then add 1
    eventually you will get 1

In [93]:
n = int(input("please input a number: "))
    
while n != 1:
    print(n)
    if n % 2 == 0:
        n = n//2
    else:
        n = n*3+1

please input a number: 6
6
3
10
5
16
8
4
2

## Summary

In [94]:
# Homework: str