<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
from IPython.display import Image

## Problem Solving 

### Extract digits from a number

- familar with basic arithmetic operators %, //, -,  ( hands on)
- basic problem solving skills
- find different ways

In [1]:
# How to get last digit of a number ?
# for example 123, need print last digit 3

In [2]:
n = 123

In [3]:
n // 10

12

In [4]:
n - (n//10)*10

3

In [6]:
print(n % 10)

3

In [8]:
# comment str(...)  convert a int to str  
s = str(123)
s

'123'

In [9]:
#012
'123'

'123'

In [10]:
print(s[2])

3

In [11]:
print(s[1])

2

In [ ]:
# how to get the middle digit of 123 ?

In [ ]:
# how to get the 1st digt of 123 ?

In [ ]:
# how to get the first two digits?

In [12]:
n // 10

12

In [ ]:
# how to get the last two digits ?

In [13]:
n

123

In [14]:
n % 100

23

In [16]:
n - n // 100 * 100

23

In [17]:
s[1:]

'23'

In [ ]:
# how to swap the two digits, for example 45 ?  i Need 54

In [18]:
a = 45

In [19]:
x = a // 10
y = a % 10
print(x, y)

4 5

In [20]:
10 * y + x

54

In [21]:
n = int(input())

28

In [22]:
n // 10 + (n % 10) * 10

82

In [23]:
# how to print 2nd digit after decimal point of a number ? 
# 123.456, print 5

In [24]:
int(123.456)  # convert a float type to int

123

In [28]:
int(123.456 * 100)  # * 100, then convert float to int

12345

In [27]:
int(123.456 * 100) % 10

5

In [29]:
# extract 6 from 123.45678

In [30]:
x  = 123.45678

In [32]:
int(x * 1000) % 10

6

### Even or Odd numbers

In [34]:
# input a number, print even if is even, otherwise print odd
n = 4
if n % 2 == 0:
    print("even")
else:
    print("odd")

even

### Factor  & Prime testing

In [35]:
21 % 7 == 0

True

In [37]:
91 % 13 == 0  # 91 = 13 * 7

True

In [38]:
# 7 = 1* 7  prime number only has factors of 1 or itself.
# 6 = 1 * 2 * 3  not a prime number

In [42]:
n = int(input("please input a number >= 2:"))

# initial condition
is_prime = True

# loop i from 2 to n-1,
# each time, i take 2, 3, 4, 5 .... n-1
for i in range(2, n): 
    print("i=", i)
    if n % i == 0:
        print(f"{n} is not a prime, it is divisible by {i}")
        is_prime = False
        break
        
if is_prime:
    print(f"{n} is a prime")

please input a number >= 2:21
i= 2
i= 3
21 is not a prime, it is divisible by 3

## str - preview
- str concatenation  + 
- print(arg1, arg2, ... )

- print(f".....{var}")  # if you don't understand, fine.

In [45]:
name = input("please enter your name: ")
# f string supported since Python 3.6
print(f"Welcome {name}, do you like Python?")

please enter your name: kevin
Welcome kevin, do you like Python?

In [47]:
print("welcome", name, "do you like python?")

welcome kevin do you like python?

In [ ]:
# str can be concatenated

In [52]:
print("welcome " + name + " do you like python?")

welcome kevin do you like python?

In [55]:
# this is supported earlier than 3.5
print("Welcome {}, do you like python?".format(name))

Welcome kevin, do you like python?

In [48]:
age = int(input("please enter your age"))
# print( arg1, arg2, ...)  arg can be of any type
print("You start learning Python at", age, "?!", "what a genius!")

please enter your age5
You start learning Python at 5 ?! what a genius!

## Math Fun

In [56]:
93 - 39

54

In [57]:
54 - 45

9

In [58]:
43 - 34

9

In [59]:
76 - 67

9

In [60]:
22 - 22

0

In [61]:
50 - 5

45

In [62]:
54 - 45

9

In [63]:
75 - 57

18

In [64]:
81- 18

63

In [65]:
63- 36

27

In [66]:
72 - 27

45

In [67]:
54 - 45

9

In [72]:
n = int(input("please enter a two different digits number:"))

while n > 9:
    # a is 10th,  b 1s
    a = n // 10
    b = n % 10
    print(f"abs({n} - {10*b+a}) = {abs(n - 10*b - a)}") 
    # swap n and substract from n, then take abs()
    n = abs(n - 10*b - a)
    
print(n)

please enter a two different digits number:19
abs(19 - 91) = 72
abs(72 - 27) = 45
abs(45 - 54) = 9
9

In [73]:
# for, while loop, totally fine.

## Homework
Chapter 2