<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
from IPython.display import Image

In [3]:
# for homework
# get absolute value
abs(-1)

1

In [4]:
# check integer 
a = 2.1
int(a) == a

False

In [5]:
a = 2.0
int(a) == a

True

In [6]:

# ^ : xor operator
1 ^ 2  # 01 XOR 10

3

In [7]:
1 ^ 3  # 01 XOR 11

2

In [8]:
# swap values
a = 2
b = 1
print(a,b)
if a > b:
  a, b = b, a
print(a,b)

2 1
1 2

In [16]:
# Question: Why do we need loops?

In [17]:
# 1+2+...100
1+2

3

## For loop

    for <iterate through a sequence>:
        <loop body>

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

### create a sequence with range 

    range(start, stop, step)  # stop is excluded !!!

In [25]:
# start default to 0 and can be omitted
# step default to 1 and can be omitted
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
# a list is a list of items, enclosed with square bracket, ["a", "b", "c"]

In [19]:
range(5)

range(0, 5)

In [20]:
l = [1,2,3]
l

[1, 2, 3]

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [22]:
list(range(1, 5, 2))

[1, 3]

In [23]:
list(range(0, 10, 2)) # even numbers in 0, 10

[0, 2, 4, 6, 8]

In [24]:
list(range(1, 10, 2)) # odd numbers in 0, 10

[1, 3, 5, 7, 9]

In [26]:
# iterate backwards
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
total = 0
for i in range(1, 10): 
    total = total + i  
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45

In [7]:
sum(range(1, 10))

45

### abort loop with break 

when a condition is met, abort the loop

In [10]:
# find another complete number between (0, 100) , other than 6
# complete: a number is equal to the sum of its factors
# 6 = 1 + 2 + 3
for i in range(1, 100):
    total = 0
    for j in range(1, i):
        if i % j == 0:
            total += j
    if total == i:
        print(i)
#         break

6
28

### skip iteration with continue

when you want to avoid certain iterations

In [15]:
for i in range(-5, 5):
    if i == 0:
        continue
        
    print(1 / i)

-0.2
-0.25
-0.3333333333333333
-0.5
-1.0
1.0
0.5
0.3333333333333333
0.25

## while loop

    while <condition is met>:
        <loop body>

In [18]:
# Use while loop when you don't know how many iterations you are going to execute.

# find a smallest number, square of the number is great than 1000
n = 1
while n**2 <= 1000:
    n += 1
print(n)

32

In [32]:
level = 0
day = 0
while True:
    day = day +1
    level = level + 3
    if level < 10:
        level = level - 2 # night drop
    else:
        print(day)
        break

8

## Math fun

In [38]:
10 - 1

9

In [39]:
abs(14 - 41)

27

In [40]:
72 - 27

45

In [41]:
54 - 45

9

In [43]:
n = int(input("please input a two digits number made from two different digits:"))

def swap(n):
    """ take a input n, return a n swapped. 12 -> 21"""
    return (n%10)*10 + n//10

while n == swap(n):
    n = int(input("two digits must be different. try again:"))
    
while n != 9:
    m = swap(n)
    print("abs({} - {}) = {}".format(n, m, abs(n-m)))
    n = abs(n-m)

please input a two digits number made from two different digits:96
abs(96 - 69) = 27
abs(27 - 72) = 45
abs(45 - 54) = 9

In [4]:
# ## Fabonacci series. 
# fabonacci 
# # input:  0 1 2 3 4 5

# # output: 1 1 2 3 5 8 ...

In [22]:
n = int(input("please input a number: "))
a= 0
b = 1
for i in range(0, n):
    c = a + b
    a = b
    b = c
print(b)

please input a number: 5
8

In [23]:
# common mistakes
# override the values
# not pay attention to the loop start and end

In [3]:
n = int(input("please input a number: "))
a, b = 0, 1
for i in range(0, n):
    a, b = b, a+b
print(b)

please input a number: 4
5

In [9]:
"abc"[::-1]

'cba'

In [11]:
def reverse(i):
    return int(str(i)[::-1])

In [21]:
# find total number of palindromes 
n = int(input())
count = 0
for i in range(10**(n-1), 10**n):
    if i == reverse(i):
#         print(i)
        count += 1
print(count)

7
9000

## Summary

* understand the difference between break and continue
* make sure you have an end condition within while loop
* choose between for and while

In [15]:
# Homework: 3.C - 3.O, skip 3.N, and 4.1 - 4.A
# if you cannot finish, do 3 out 3.X and 3 out 4.X.