<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [3]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [4]:
from IPython.display import Image

## Tips
### Math functions
- abs. int, math.floor, math.ceil

### swap values

### base 2, 8, 10, 16

### bit operation ( intermediate, optional )
- |, &, XOR

In [2]:
abs(2)

2

In [3]:
abs(-1)

1

In [4]:
abs(0)

0

In [5]:
a =  2.6
int(a)

2

In [7]:
import math
math.floor(a)

2

In [8]:
math.ceil(a)

3

In [13]:
# default is base 10.  
# base 10 has 10 digital symbols: 0,1,2,3,4,5,6,7,8,9

In [9]:
10

10

In [ ]:
# base 2 : 
# base 2 has only two symbols 0 and 1.
# base 2 representation : 0bxxxxxx   
# b = binary
# 0, 1, 0b10, 0b11, 0b100, 0b101, 0b110, 0b111

In [11]:
bin(3)  # from base 10 to base 2

'0b11'

In [24]:
0b11  # from base 2 to base 10 , no need converstion

3

In [12]:
# base 8: 0, 1, 2, 3, 4, 5, 6, 7, 0o10, 0o11, 0o12, ...
# base 8 representation: 0oxxxxxxx   
# o = oct
0o11

9

In [13]:
# convert from base 10 to base 8
oct(9)

'0o11'

In [22]:
# base 16: 0x0, 0x1, ......0x9, 0x0a, 0x0b, 0x0c, 0x0b, 0x0d, 0x0e, 0x0f, 0x10, ...
# hexidecimal

In [15]:
hex(12)  # convert base 10 to base 16
# 12 animals, mouse, ox, ....  no matter what base.

'0xc'

In [16]:
16  # 1 * 10 + 6

16

In [19]:
0x10   # 1 * 16 + 0

16

In [ ]:
# bit operation

In [6]:

# ^ : xor operator
1 ^ 2  # 01 XOR 10

3

In [28]:
1 | 2

3

In [ ]:
# bit operation first convert to base 2
#       1 0
#  1 -> 0 1
#  2 -> 1 0
#  
# bit 0, 1 | 0 = 1
# bit 1, 0 | 1 = 1
# result: 1 1 
# convert back to base 10 : 3

In [29]:
1 & 2  # bit AND. do AND for each bit

0

In [31]:
1 ^ 2  # bit XOR. check if the each bit is different, if different return 1, else 0
# 01
# 10
# 11

3

In [34]:
3 ^ 3  # any number XOR itself is 0

0

In [20]:
#  initialze multiplevalues 
a = 1
b = 2

In [21]:
a

1

In [22]:
b

2

In [28]:
a, b = 3 , 4

In [26]:
a

3

In [27]:
b

4

In [29]:
# swap values
a, b = b, a
print(a,b)

4 3

In [16]:
# Question: Why do we need loops?

In [4]:
# 1+2+...10
1+2+3+4+5+6+7+8+9+10

55

## For loop

    for ... in <a sequence>:
        <loop body>
    
    Note:
    - loop body is indented.
    - a sequence is made up of a range, a list, or anything is iterable
    - loop body is made up of one or more statements
    - we know exactly how many times the loop body will be executed.

### range 

    range(begin, end, step)  
    
    # a sequence starts from begin till end, but end is excluded !!!, each time increase step.
    # start default to 0
    # step default to 1

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 5, 1))

[1, 2, 3, 4]

In [8]:
list(range(1, 5))  # step default =1

[1, 2, 3, 4]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [12]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# 1 3 5 7 9
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [15]:
# [ , , , ] construct a list
l = [1,2,3]
l

[1, 2, 3]

### loop execution

    iterate through the sequence
    each iteration:
        loop variable get a new value from the sequence
        the loop body gets executed 
        
    loop ends ( exits ) when sequence is exhausted.

In [17]:
# here is an example

for i in range(10): 
    print("start iteration", i)
    print("i=", i)
    print("done iteration", i)

start iteration 0
i= 0
done iteration 0
start iteration 1
i= 1
done iteration 1
start iteration 2
i= 2
done iteration 2
start iteration 3
i= 3
done iteration 3
start iteration 4
i= 4
done iteration 4
start iteration 5
i= 5
done iteration 5
start iteration 6
i= 6
done iteration 6
start iteration 7
i= 7
done iteration 7
start iteration 8
i= 8
done iteration 8
start iteration 9
i= 9
done iteration 9

In [19]:
total = 0
for i in range(1, 11): 
    total = total + i  
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [21]:
sum(range(1, 11))

55

### abort loop with break 

when a condition is met, abort the loop

In [22]:
i = 6
j = 2
# check if j is a factor of i
i % j == 0

True

In [23]:
6 % 5 == 0

False

In [30]:
# find one complete number between (1, 100) 
# complete: a number is equal to the sum of all its factors
# 6 = 1, 2, 3 , not including itself.
# 6 = 1 + 2 + 3

for i in range(1, 100):
    print("iternation", i)
    total = 0
    for j in range(1, i):  # factor 1,2,3,.. i.  find out all i's factors.
        if i % j == 0:  # if j is a factor of i, we add it to total
            total += j
    if total == i:  # this is a complete number
        print(i, "is a complete number")
        break
        
print("end")

iternation 1
iternation 2
iternation 3
iternation 4
iternation 5
iternation 6
6 is a complete number
end

In [29]:
28 == 1 + 2 + 4 + 7 + 14

True

### skip iteration with continue

    skip this iteration, continue execution to next. 
    useful when you want to avoid certain iterations

In [33]:
for i in range(-5, 5): # -5, -4, -3, -2, -1, 0, 1, 2, 3, 4

    if i == 0:
        continue  # skip this iteration

    print(i, 1 / i)

-5 -0.2
-4 -0.25
-3 -0.3333333333333333
-2 -0.5
-1 -1.0
1 1.0
2 0.5
3 0.3333333333333333
4 0.25

In [35]:
for i in range(-5, 5): # -5, -4, -3, -2, -1, 0, 1, 2, 3, 4

    if i == 0:
        pass
    else:
        print(i, 1 / i)

-5 -0.2
-4 -0.25
-3 -0.3333333333333333
-2 -0.5
-1 -1.0
1 1.0
2 0.5
3 0.3333333333333333
4 0.25

## while loop

    Use while if you don't know how many times the loop will be executed. 
    
    while <condition is True>:
    
        <loop body>
        
    Note:
        in the loop body, the condition gets updated.
        at some point, the condition becomes False, that's when the loop exits/ends
        when the condition is not met (True), the loop exit,and the body is NOT executed.

In [36]:
# find a smallest number, square of the number is great than 1000
n = 1
while n**2 <= 1000:
    print("in loop", n, n**2)
    n += 1  # n = n + 1
print("I am out of loop")
print(n)

in loop 1 1
in loop 2 4
in loop 3 9
in loop 4 16
in loop 5 25
in loop 6 36
in loop 7 49
in loop 8 64
in loop 9 81
in loop 10 100
in loop 11 121
in loop 12 144
in loop 13 169
in loop 14 196
in loop 15 225
in loop 16 256
in loop 17 289
in loop 18 324
in loop 19 361
in loop 20 400
in loop 21 441
in loop 22 484
in loop 23 529
in loop 24 576
in loop 25 625
in loop 26 676
in loop 27 729
in loop 28 784
in loop 29 841
in loop 30 900
in loop 31 961
I am out of loop
32

In [61]:
32 ** 2

1024

## Math fun

In [38]:
# ## Fabonacci series. 
# fabonacci 
# # input:  0 1 2 3 4 5

# # output: 1 1 2 3 5 8 13 ...

# print out nth fabonacci number

In [ ]:
# a b c
# 0 1 1 2 3 5
# > a b ?
#     a b 
# every loop print b

In [37]:
n = int(input("please input a number: "))
a = 0
b = 1
for i in range(0, n):
    c = a + b
    a = b
    b = c
print(b)

please input a number: 5
8

In [23]:
# common mistakes
# override the values
# not pay attention to the loop start and end

In [40]:
a = 1 
# a is a box , can have a value

In [42]:
# why this is wrong !!!
n = int(input("please input a number: "))
a = 0
b = 1
for i in range(0, n):
    c = a + b
    b = c  # b lost its value.
    a = b
print(b)

please input a number: 5
16

In [ ]:
# a b c
# 0 1 1 2 3 5
# > a b ?
#     a b 
# every loop print b

## Summary

* understand the difference between break and continue
* make sure you have an end condition within while loop
* choose between for and while


home work chapter 4 in repl.it